*{
    margin: 0;
    padding:0;
    font-family: system-ui;
}

body{
    min-height: 100vh;
    background: #fff;
}

.navigation{
    border-radius: 10px;
    box-sizing: initial;
    border-left: 5px solid #4d5bf9;
    background: #4d5bf9;
    transition: width 0.5s;
   
}
.navigation ul{
    /*position: absolute;
    top: 0;
    left:0;
    width: 100%;*/
    padding-left: 5px; 
    padding-top: 40px;
    padding-bottom: 40px;
 }

 .navigation ul li{
   list-style: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
 }

 .navigation ul li.active{
    background: #fff;
    padding-right: 7rem;
 }

 .navigation ul li.active a{
    color: #333 ;
 }

 .navigation ul li a{
    position: relative;
    display: block;
    /*width: 100%;*/
    display: flex;
    text-decoration: none;
    color: #fff;
 }

 .navigation ul li a .icon{
    display: flex;
    min-width: 80px;
    height: 60px;
    line-height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
 }

 .navigation ul li a .icon ion-icon{
    font-size: 1.5em;
 }

 .navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 40px;
    line-height: 60px;
    white-space: normal;
 }

.table-box{
	margin: 50px auto;
}

.table-row{
	display: table;
	/*width: 200%;*/
	margin: 10px;
	font-family: sans-serif;
	background: transparent;
	padding: .5rem 1rem;
	color: #555;
	font-size: 13px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
	
}
.table-cell{
	display: table-cell;
	width: 30%;
	text-align: center;
	padding: 4px 2.5rem;
	border-right: 1px solid #d6d4d4;
	vertical-align: middle;
}

.table-head{
	background: #8665f7;
	box-shadow: none;
	color: #fff;
	font-weight: 600;
}

.table-header{
	background: #5bb7e9;
	box-shadow: none;
	color: #fff;
	font-weight: 600;
}

.last-cell{
	border-right: none;
}	

.navbar
{
	justify-content: space-between;
	padding: 0 1rem 0px 1rem;
    position: sticky;
    top: 0px;
    height: 75px;
    width: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow:auto;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    box-shadow: rgb(0 0 0 / 35%) 0px 0px 15px;
    background-color: #ffffff;
    z-index: 1;
}

.nav-txt
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 700;
}

html{
    --gap:1.5rem;
    --gapHome: 25.6rem;
    --gapcon:20.3rem;
    --gapSrh: 9rem;
    --gapHomeIcon: 27rem;
    --gapsrh: 312px;
    --gaplogo:1.5rem;
    --gapsp:7.5rem;
}

.btn
{
    background-color: #006eff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 700;
    padding: 13px 22px 14px 21px;
    box-sizing: border-box;
    font-size: 13px;
    border: none;
    border-radius: 30px;
    box-shadow: rgb(0 0 0 / 35%) 0px 0px 7px;
    cursor: pointer;
    position: fixed;
    right: var(--gap);
    top: 17px;
}
        
.btn:hover,.btn:focus,.btn-two:hover,.btn-two:focus
{
    background-color: #16437E;
    color: #ffffff;
    
}

.btn:active, .btn-two:active
{
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

.nav-txt.srh
{
    right: var(--gapSrh);
}

a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    color: #006eff;
}

a:link{
text-decoration: none;
}

a:active
{
color: #003983;
}

body{
    margin: 0px;
    background: linear-gradient(to right,rgb(0, 140, 255),rgb(255, 145, 0),rgb(111, 0, 255));
}

.container{
	gap: 1rem;
    padding: 2rem 1rem;
    min-height: 70vh;
    background: #fff;
    display: flex;
    align-items: flex-start;
    border-radius: 8px;
    margin: 8px;
    box-shadow: rgb(0 0 0 / 35%) 0px 0px 15px;
}




/* body{
    display: flex;
    min-height: 100vh;
    background: #333;
    justify-content: flex-end;
    align-items: flex-end;
} */

footer{
    position: relative;
    /* width: 100%; */
    background: #eef1f5;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    border-radius :8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    box-shadow: rgb(0 0 0 / 35%) 0px 0px 15px;
}

footer .foot{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .foot li{
    list-style: none;
}

footer .foot li a{
    font-size: 2 rem;
    color: rgb(20, 43, 243);
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .foot li a:hover{
    opacity: 5;
}

footer p{
    color: rgb(25, 22, 245);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.content
{
    display: flex;
    margin-top: 1rem;
    gap: 8px;
    flex-direction: column;
    align-items: flex-end;
}

.search-box
{
	display: flex;
    max-width: 34rem;
    width: 34rem;
    height: 49px;
    font-size: 18px;
    font-family: arial,sans-serif;
    border: 1px solid #dfe1e5;
    border-radius: 30px;
    line-height: 1.2;
    padding: 2px 67px 0px 25px;
    outline: none;
}

.search-box:hover, .search-box:focus{
	box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

.srh-icon
{
    position: relative;
    top: 12px;
    right: 2.9rem;
    height: 27px;
    cursor: pointer;
}

section
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    color: #006eff;
}

a:link{
text-decoration: none;
}

a:active
{
color: #003983;
}


/* new table style */
table {
    border-collapse: collapse;
}

th {
    background-color:#8665f7;
    Color:white;
}

th, td {

    text-align:center;
    border-right: 1px solid #d6d4d4;
    line-height: 1.5rem;
    padding: 1rem;

}

.table {
    border-collapse:separate;
    border-spacing:0 8px;
}

tr{
	border-radius: 8px;
	outline: 1px solid #d6d4d4;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
}

a:link{
text-decoration: none;
}

a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    color: #006eff;
}

.lebel{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.box {
    width: 17rem;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    outline: black solid 1px;
    line-height: 1.2;
    padding: 0.8rem 2.5rem 0.8rem 1rem;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
}

.info
{
    display: grid;
    gap: 2rem;
}

.field
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cell
{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer
{
    display: grid;
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 35%) 0px 0px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 8px 8px 0px 8px;
    background-color: #ffffff;
    padding: 1rem 4rem 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    justify-items: center;
}

.foot-link{
	font-size: 1rem;
	list-style: none;
}

.foot{
	display: flex;
	margin-top: 1em;
    margin-bottom: 1em;
	gap: 1rem;
}

.list:hover{
    background: repeating-linear-gradient(172deg, rgb(0 0 0 / 35%), transparent 100px);
}

.list:active {
    background: repeating-linear-gradient(0deg, rgb(0 0 0 / 35%), transparent 100px);
}

.banned
{
	gap: 4px;
	justify-content: center;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 3rem;
    background: #dc0000;
    color: white;
    
    padding: 0 1rem 0px 1rem;
    position: sticky;
    top: 0px;

    width: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: auto;

    margin-left: 8px;
    margin-right: 8px;

    box-shadow: rgb(0 0 0 / 35%) 0px 0px 15px;

    z-index: 1;
}