@font-face { 
    font-family: kalam;
    src: url(LibraryManagement/fonts/kalam.ttf);
}

body {
    background: linear-gradient(to right, rgb(0, 140, 255), rgb(255, 145, 0), rgb(111, 0, 255));
}

.wrapper
{
    display: grid;
    place-items: center;
    user-select: none;
    padding: 1.8rem;
}

.content {
    overflow: auto;
    background-color: white;
    padding: 3rem 6rem;
    box-sizing: border-box;
    border-radius: 10px;
    display: grid;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.heading {
    text-align: center;
    font-family: kalam;
    margin: 0 0 1em 0;
}

.container
{
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #006eff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 700;
    box-sizing: border-box;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    padding: 1.2rem 5rem;
}

.btn:hover,
.btn:focus {
    background-color: #16437E;
    color: #ffffff;

}

.btn:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

a:link {
    text-decoration: none;
}